# SPDX-License-Identifier: CC0-1.0

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h}]
indent_size = 8
indent_style = tab

[*.json]
indent_size = 4
indent_style = space

[*.py]
indent_size = 4
indent_style = space

[*.yaml]
indent_size = 2
indent_style = space

[{meson.build,meson_options.txt}]
indent_size = 4
indent_style = space
